{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>{{ title }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in user_cart %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total Price: {{ total_price }}</h3>
</div>


{% endblock %}
