<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>natureskateshop.</title>
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <img src="/static/img/logo4.png">

        <h1>natureskateshop.</h1>

        <a href="/clothes" class="btn btn-lg btn-primary">Shop Now</a>

    </div>
</div>

<footer>
    <p>Copyright natureskateshop 2024. All rights reserved.</p>
</footer>

</body>
</html>
